.order{
    padding: 0;
    background-color: magenta;
    height: 100vh;
    width: auto;
}
.kkk{
    background-color: red;
    height: 700px;
    width: 100%;
}
.oo{
    background-color: #1E9E1E;
    height: 500px;
    width: 50%;
    float: left;
}
.pp{
    background-color: pink;
    height: 10px;
    width: 50%;
    height: 200px;
    float: right;
    padding-top: 200px;
}
.ok{
    float: left;
    padding-left: 200px;
}
.no{
    float: right;
    padding-right: 100px;
    
}